@font-face {
    font-family: 'Angel rhapsody';
    src: url('fonts/Angel-rhapsody.eot');
    src: url('fonts/Angel-rhapsody.eot?#iefix') format('embedded-opentype'),
         url('fonts/Angel-rhapsody.woff2') format('woff2'),
         url('fonts/Angel-rhapsody.woff') format('woff'),
         url('fonts/Angel-rhapsody.ttf')  format('truetype'),
         url('fonts/Angel-rhapsody.svg#Angel rhapsody') format('svg');
}